/* BANNER */
.banner {
    position: relative;
    height: 100vh;
    background-color: #17181d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.banner .content .image{
    border: 17px outset #1e6beb;
    border-radius: 15px;
    width: 15%;
    animation: upanddown 2s ease-in-out infinite;
}

.banner .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes upanddown{
    0%, 100% {
        transform: translateY(0); /* Posição inicial */
    }
    50% {
        transform: translateY(-20px); /* Posição quando o avatar sobe */
    }
}

.banner .content .present-myself {
    font-family: "JetBrains Mono", monospace;
    font-size: 48px;
    color: #fff;
}

.banner .content .present-myself strong {
    color: #215cba;
}

.banner .content .developer-class {
    font-family: "JetBrains Mono", monospace;
    font-size: 28px;
    font-style: oblique;
    color: #fff;
}

.banner .content .about-me {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 14px;
    max-width: 50%;
}

.banner .content .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner .content .actions .btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-family: "JetBrains Mono", monospace;
    border-radius: 15px;
    padding: 8px 15px;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s all ease;
}

.banner .content .actions .btn-action:hover {
    border: 1px solid #215cba;
    background-color: #215cba;
    transition: 0.3s all ease;
}
/* BANNER */

/* TECHNOLOGIES */
.technologies-section {
    padding: 40px;
    text-align: center;
    background-color: #17181d;
}

.section-title {
    font-family: "JetBrains Mono", monospace;
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.technologies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tech {
    background-color: #3c3d45;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.tech:hover {
    transform: translateY(-10px);
}

.tech .image img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.tech .lang {
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    color: #fff;
}
/* TECHNOLOGIES */

/* PROJECTS */
.projects-section {
    padding: 40px;
    text-align: center;
    background-color: #17181d;
}

.title {
    font-family: "JetBrains Mono", monospace;
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.project {
    background-color: #3c3d45;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
}

.project .image img {
    width: 50%; /* Aumenta o tamanho da imagem */
    height: auto;
    margin-bottom: 10px;
}

.project .project-name {
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.project .project-links {
    margin-bottom: 10px;
}

.project .btn {
    display: inline-block;
    padding: 10px 20px;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.project .btn-github {
    background-color: #333;
}

.project .btn-github:hover {
    background-color: #555;
}

.project .btn-site {
    background-color: #007bff;
}

.project .btn-site:hover {
    background-color: #0056b3;
}

.project .tech-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.project .tech-logo {
    width: 40px;
    height: auto;
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .projects {
        grid-template-columns: 1fr;
    }
}
/* PROJECTS */

/* CONTACT */
.contact-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #17181d;
}

.contact-section .contact-title{
    font-size: 60px;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    margin-bottom: 10px;
}

.contact-section .contact-title strong{
    color: #215cba;
}

.contact-section .contact-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 35px 0;
}

.contact-section .contact-btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    transition: .3s all ease;
}

.contact-section .contact-btns a:hover{
    background-color: #007bff;
    border: 1px solid #007bff;
    transition: .3s all ease;
}
/* CONTACT */
